<div class="candidate-info">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="candidate-img">
                <img src="{{candidate.avatar}}">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <h4>{{candidate.name}}</h4>
            <p>
                <strong>Date of birth</strong>
                <br>
                {{candidate.dateOfBirth}}
            </p>
            <p>
                <strong>Address</strong>
                <br>
                {{candidate.address}}
            </p>
            <p>
                <strong>Gender</strong>
                <br>
                {{candidate.gender}}
            </p>
            <p>
                <strong>National</strong>
                <br>
                {{candidate.nationality}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col m-3">
            <p>
                <strong>Sự nghiệp</strong>
                <br>
                Từ năm 1975 đến 1981, Lại Văn Sâm học tại Đại học Tổng hợp Tashkent, Liên Xô chuyên ngành ngôn ngữ Hindi chứ không phải chuyên ngành báo chí. Sau đó, ông quyết định về Việt Nam lập nghiệp nhưng gặp không ít khó khăn khi tìm kiếm công việc phù hợp. Ông từng phải quay trở lại Nga để lao động xuất khẩu, làm phiên dịch nhưng sau cùng ông vẫn chọn về nước.

                Sau khi về nước năm 1987, ông phụ bán hàng cho mẹ vợ ở chợ Đồng Xuân, Hà Nội.

                Cuối năm 1987, ông đến thử việc tại VTV và làm biên dịch viên cho các bản tin thể thao của Liên Xô sang tiếng Việt, rồi được giao nhiệm vụ phụ trách biên tập và bình luận các chương trình thể thao của Liên Xô và thế giới hàng tuần. Đến đầu năm 1988, ông dừng làm việc tại đài truyền hình và quay về công việc cũ ở chợ Đồng Xuân.[2]

                Tháng 6 năm 1988, ông trở lại làm việc tại Đài Truyền hình Việt Nam đúng vào thời điểm Giải vô địch bóng đá châu Âu diễn ra tại Đức, vì lúc này VTV cần người để tường thuật, tổng kết các sự kiện. Trong thời gian này, điều kiện cơ sở vật chất của VTV đang còn thiếu thốn, các chương trình bình luận bóng đá thường chỉ là chương trình phát lại, công việc bình luận cũng khá vất vả vì thiếu nhân sự. Cũng trong năm đó, ông cùng Trần Tiến Đức, Vũ Huy Hùng được giao nhiệm vụ tường thuật trực tiếp các trận đấu của Thế vận hội Mùa hè 1988 tại Seoul, đó cũng là năm đầu tiên VTV tường thuật trực tiếp một sự kiện thể thao của thế giới. Khi ấy, việc tiếp cận thông tin về các đội bóng đá để tường thuật còn rất khó khăn, hầu như bình luận viên không có thông tin gì trước trận đấu về những đội tham gia.[3] Năm 1990, ông ngưng việc bình luận thể thao để chuyển sang việc dẫn dắt chương trình V.K.T.            </p>
        </div>
    </div>
</div>